<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Mind - New & Improved</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="navbar">
<!-- Example navigation link in your main template -->
<nav>
    <a href="/">Home</a>
    <a href="/rulebase">Add Rule</a>
    <a href="/lab_values">Lab Values</a>
    <a href="/view_rulebase">View Rulebase</a>
</nav>
        </ul>
        <button type="button">Logout</button>
    </div>
    <header>
        <h1>Medical Mind -</h1>
        <h2>New & Improved</h2>
        <div class="buttons">
            <button type="button">Let's Diagnose!</button>
            <button type="button">Learn More</button>
        </div>
    </header>
    <main>
        <div class="content">
            <img src="{{ url_for('static', filename='image.png') }}" alt="Medical Image" class="center-image">
        </div>
    </main>
</body>
</html>